<div class="table-list-extra">
    <div class="table-list-extra-desc"><span v-if="options.totalPageNum">共{{ options.totalPageNum }}页</span><span v-if="options.totalCount">,共{{options.totalCount}}条</span></div>
    <div class="table-list-extra-info" >
        <div class="table-list-page-num">
            <span class="page-prev page-direction js_confirm_btn js_prev_page" @click="jumptopage($event,parseInt(options.currentPageIndex)-1,options.currentPageIndex)" >上一页</span>
            <ul >
                <li v-for="pageIdx in pageArray" :class="{'pagination-item':true,'current-page-index':(pageIdx==options.currentPageIndex) }" @click="jumptopage($event,pageIdx,options.currentPageIndex)" ><span>{{pageIdx}}</span></li>
            </ul>
            <span class="page-next page-direction js_confirm_btn js_next_page" @click="jumptopage($event,parseInt(options.currentPageIndex)+1,options.currentPageIndex)" >下一页</span>
        </div>
            
        <div class="table-list-extra-jump">
            <span >跳到</span>
            <input class="table-list-detail-page" type="text" v-model="options.jumpNum">
            <span>页</span>
            <span class="table-list-confirm js_confirm_btn" @click="jumptopage($event,parseInt(options.jumpNum),options.currentPageIndex)" >确定</span>
        </div>
    </div>
</div>